* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #0f172a;
  /* Cor de fundo escura do seu tema */
  color: #f1f5f9;
  overflow-x: hidden;
}